<ion-content>
  <h1>EVENTI<span class="title-color">VITY</span></h1>
  <h3>My activites</h3>
  <cdk-virtual-scroll-viewport itemSize="56">
    <ion-list>
      <ion-item *cdkVirtualFor="let activity of testActivities" class="item-style" (click)="openModal()">
        <ion-label> {{ activity.title }} </ion-label>
        <ion-label> {{ activity.adress }} </ion-label>
        <ion-label> {{ activity.date }} </ion-label>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>
  <h3>All activites</h3>
  <cdk-virtual-scroll-viewport itemSize="56">
    <ion-list>
      <ion-item *cdkVirtualFor="let activity of testActivities" class="item-style" (click)="openModal()">
        <ion-label> {{ activity.title }} </ion-label>
        <ion-label> {{ activity.adress }} </ion-label>
        <ion-label> {{ activity.date }} </ion-label>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>
  <div class="new-event-button-container">
    <ion-button color="dark" class="new-event-button">
      Create new Event
    </ion-button>
  </div>

  <!-- Default -->
  <ion-modal [isOpen]="modalStatus">
    <ng-template>
      <ion-content>
        <ion-button color="dark" (click)="closeModal()">
          Close
        </ion-button>
        <h1>EVENTI<span class="title-color">VITY</span></h1>
        <h3>Title</h3>
        <p>Kategorie: </p>
        <p>Ort: </p>
        <p>Zeit: </p>
        <p>Beschreibung: </p>
          <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
