h1{
    text-align: center;
    }
    
.title-color {
    color: rgba(44,205,166, 0.75) !important;
    }



.formBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img{
    display: block;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: auto;
  }